html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      #appContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }
      #viewDiv {
        flex: 1;
        width: 100%;
      }